.footer {
    margin-top: 100px;
    padding: 20px 0 40px;
    box-shadow: 0 8px 32px rgba(43, 45, 51, 0.08), 0 0 2px rgba(0, 0, 0, 0.08), 0 0 24px rgba(43, 45, 51, 0.12);
}

.footer h3 {
    color: #000;
}

.footer a:hover {
    text-decoration: underline
}

.footer__logo {
    width: 175px;
    margin-bottom: 10px;
}

.footer__text {
    color: #000;
    font-size: 18px;
    font-weight: 300;
    line-height: 167.187%
}

.footer__media a {
    width: 45px;
    height: 45px;
    border-radius: 30px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .5s
}

.footer__media a:hover {
    background: #0A2463
}

.footer__media a:hover svg path {
    stroke: #fff;
    fill: #fff
}

.footer__media a svg {
    transition: all .4s
}

.footer__media a svg path {
    transition: all .4s
}

.footer__btn {
    width: 100%;
    color: #0A2463;
    font-size: 18px;
    font-weight: 400;
    line-height: 167.187%;
    background: #ffffff;
    padding: 12px 50px;
}

.footer__btn:hover {
    background: #ffffff;
    color: #0A2463;
}

@media (max-width: 1200px) {
    .footer__text, h3 {
        font-size: 16px;
    }
}

@media (max-width: 1023px) {
    .footer {
        margin-top: 80px;
    }
}

@media (max-width: 850px) {
    .footer__wrapper {
        align-items: flex-start !important;
        flex-direction: column;
        gap: 30px;
    }

    .footer__btn {
        font-size: 16px;
    }
}

@media (max-width: 475px) {
    .footer__wrapper {
        gap: 20px;
    }

    .footer__logo {
        width: 150px;
    }

    .footer__text {
        font-size: 16px
    }

    .footer__inner {
        width: 100%;
    }

    .footer__btn {
        width: 100%;
    }
}
