.header {
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    background: #f4f7fe;
    padding: 20px 0;
    z-index: 10
}

.header__logo {
    width: 30%;
}

.header__logo a {
    position: relative;
    z-index: 1000;
    width: 185px;
}

.header__wrapper {
    width: 30%;
    justify-content: flex-end;
}

.header__media a, .header__content-media a {
    width: 30px;
    height: 30px;
    border-radius: 30px;
    background: #0A2463;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .5s
}

.header__media a svg, .header__content-media a svg {
    transition: all .4s
}

.header__media a svg path, .header__content-media a svg path {
    transition: all .4s
}

.header__info a {
    color: #323232;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 167.187%;
    transition: all 1s
}

.header__info a:hover {
    text-decoration: underline
}

.header.scrolled {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 8px 24px;
}

.header__menu {
    position: fixed;
    top: 0;
    left: auto;
    right: -100%;
    width: 100%;
    height: 100%;
    background: #fff;
    padding: 0 20px;
    transition: all .5s;
}


.header__content {
    position: relative;
    padding: 30px 0;
}

.header__content > a {
    color: #323232;
    font-size: 16px;
    font-weight: 300;
    text-decoration-line: underline;
}

.header__menu-top {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 75px;
}

.header__close {
    cursor: pointer;
}

.menu {
    display: none;
    cursor: pointer
}

@media (max-width: 1200px) {
    .header__info a {
        font-size: 16px
    }

    .header__nav {
        gap: 25px !important;
    }

    .header__logo, .header__wrapper {
        width: auto;
    }
}

@media (max-width: 992px) {
    .header__nav {
        gap: 20px !important;
    }

    .header__logo a{
        width: 150px;
    }

    .header__contact {
        gap: .5rem !important;
    }
}

@media (max-width: 850px) {
    .menu {
        display: block
    }

    .header__menu.active {
        right: 0
    }

    .header {
        padding: 10px 0;
        height: 75px
    }

    .header__media {
        display: none !important;
    }

    .header__nav {
        display: none !important;
    }
}

@media (max-width: 475px) {
    .header {
        height: 65px
    }

    .header__info a {
        font-size: 14px;
    }

    .header__logo a{
        width: 120px;
    }
}