@import url(https://fonts.googleapis.com/css2?family=Geologica:wght@300;400;500;600;700&family=Roboto&display=swap);
@import 'clear.css';
@import 'header.css';
@import 'footer.css';

.section {
    margin-bottom: 100px;
}

.hero {
    height: 600px;
    position: relative;
}

.hero::before {
    content: '';
    position: absolute;
    inset: 0;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.6), transparent 30%, transparent 70%, rgba(0, 0, 0, 0.6)),
    url(../img/hero.png) center center / cover no-repeat;
    z-index: 1;
}

.hero p a {
    color: #000;
    font-size: 18px;
    font-weight: 300;
    line-height: 167.187%
}

.hero h1 {
    color: #fff
}

.hero h2 {
    color: #fff;
}

.hero button {
    width: fit-content;
    padding: 12px 50px;
}

.hero__wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    position: relative;
    z-index: 2;
}

.work__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 30px;
}

.work-img {
    width: 100%;
    height: 450px;
    background-image: url("../img/about.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
}

.advantages {
    background: #004a8c;
    padding: 50px 0 70px;
}

.advantages__inner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.advantages__item {
    display: flex;
    flex-direction: column;
}

.advantages__item h3 {
    color: #fff;
}

.advantages__item p {
    color: #fff;
    font-size: 15px;
    font-weight: 300;
}

.advantages h2 {
    color: #fff;
    text-align: center;
}

.service h1 {
    min-width: 30px;
    text-align: center;
}

.service p {
    font-size: 14px;
}

.service__inner {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.service__item {
    margin: 0 auto;
    width: 40vw;
    background: #fff;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    height: 100%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 8px 24px;
    border-radius: 24px;
}

.contact-us {
    padding: 80px 0;
    background-color: #f9f9f9;
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 30px;
}

.contact-us__title {
    font-size: 24px;
    font-weight: 700;
}

.contact-us__subtitle {
    font-size: 14px;
    color: #666;
}

.contact-us__link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-weight: 500;
    text-decoration: none;
    color: #000;
    border: 1px solid #ddd;
    padding: 10px 15px;
    border-radius: 8px;
    transition: all 0.3s ease;
}

.contact-us__link:hover {
    background-color: #ffffff;
    border-color: #004a8c;
}

@media (max-width: 1200px) {
    .service__item {
        width: 50vw;
    }

    .contact-us__methods {
        flex-direction: column;
    }

    .contact-us {
        padding: 50px 0;
    }
}

@media (max-width: 1023px) {
    .contact-us {
        margin: 0 !important;
    }

    .contact-us__subtitle span {
        display: block;
    }

    .section {
        margin-bottom: 70px;
    }

    .hero {
        height: 400px;
    }

    .hero::before {
        background: linear-gradient(to right, rgba(0, 0, 0, 0.6), transparent 30%, transparent 70%, rgba(0, 0, 0, 0.6)),
        url(../img/hero_mob.png) center center / cover no-repeat;
    }

    .service__inner h3 {
        margin-bottom: 20px;
        margin-top: 10px
    }

    .work-img {
        height: 350px;
    }

    .contact-us {
        padding: 50px 0;
    }
}

@media (max-width: 768px) {
    .advantages__wrapper {
        gap: 20px !important;
    }

    .advantages__inner {
        grid-template-columns: repeat(2, 1fr);
    }

    .section {
        margin-bottom: 50px;
    }

    .service__item {
        width: 100%;
    }

    .work__wrapper {
        grid-template-columns: repeat(1, 1fr);
    }

    .work-img {
        height: 250px;
    }

    .contact-us__wrapper {
        flex-direction: column;
        align-items: flex-start !important;
        gap: 20px !important;
    }

    .contact-us__methods {
        flex-direction: row;
    }
}

@media (max-width: 475px) {
    .advantages__inner {
        grid-template-columns: repeat(1, 1fr);
    }

    .advantages h2.heading span {
        display: block;
    }

    .service__inner h3 {
        font-size: 14px
    }

    .contact-us__methods {
        flex-direction: column;
        width: 100%;
    }
}

@media (max-width: 375px) {
    .hero h2 span {
        display: block;
    }

    .contact-us__subtitle span {
        display: inline;
    }
}